/* Nav */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Calibri', 'Roboto', sans-serif, Helvetica;
}

.row {
    display: grid;
    grid-template-columns: 15% 85%;
}

.save-btn {
    border: none !important;
}

.save-btn {
    background-color: #242424;
    color: #FDC62E;
    text-align: center;
    font-weight: bold;
    width: 51px;
    height: 31px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -49px;
}

.save-btn:hover {
    cursor: pointer;
}

.save-btn:focus {
    border: none;
    /* Bỏ viền khi nút có focus */
    outline: none;
    /* Bỏ outline mặc định */
}

.nav {}

.nav__container {
    display: flex;
    padding: 0 8px;
    align-items: center;
    background-color: #242424;
    width: 33%;
    border-radius: 14px;
    margin: 10px 10px;

}

.nav__container i {
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    margin-right: 2px;
    color: #242424;
    background-color: #FDC62E;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
}

.nav__Btn {
    display: inline-block;
    padding-top: 2px;
}

.nav__Btn img {
    height: 35px;
}

.nav__list {
    height: 100vh;
    border-right: 2px solid #ddd;
    text-align: center;
}

.nav__list .list__item:last-child a {
    color: red;
}

.nav__list .list__item:last-child a:hover {
    background-color: transparent;
}

.nav__list li a:hover {
    background-color: #FDC62E;
}

.nav__list li a {
    display: block;
    text-decoration: none;
    color: #242424;
    padding: 5px 10px;
    border-radius: 8px;
    width: 120px;
    margin-left: 50px;
}

.list__item {
    list-style-type: none;

    &+.list__item {
        margin-top: 50px;
    }
}

/* Container */

.container {
    padding: 30px 0;
}

.profile {
    border: 2px solid #ddd;
    border-radius: 12px;
    margin: 30px 40px 75px;

}

.profile .profile__title {
    font-weight: 900;
}


.profile .profile__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    font-weight: 900;
}

.profile__container {
    display: flex;
    align-items: center;
    padding: 10px 50px 20px;
}

.profile__detail input {
    display: block;
}

.profile .profile__picture img {
    display: block;
    height: 120px;
    width: 120px;
    margin-right: 10px;
    border-radius: 50%;
}

.profile .profile__edit {
    background-color: #242424;
    color: #FDC62E;
    display: flex;
    width: 70px;
    height: 35px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 0 10px;
}

.profile .edit-logo {}

.profile .profile__edit:hover {
    cursor: pointer;
}

.profile .profile__name {
    font-weight: 800;
    font-size: 30px;
    border: none;
}

.profile .profile__location {
    color: #ccc;
    border: none;
}



.profile__information-name,
.profile__information-email,
.profile__information-phone,
.profile__information-address {}



.profile .profile__username-title,
.profile .profile__email-title,
.profile .profile__phone-title,
.profile .profile__address-title {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 0px 80px;
    font-size: 20px;
    line-height: 1.6;
    font-weight: 800;
    margin: 40px 0;
}


.username__title,
.email__title,
.phone__title,
.address__title {
    color: #a0a0a0;
}

.profile__detail input:focus,
.username:focus,
.email:focus,
.phone:focus,
.address:focus {
    border: none;
    /* Bỏ viền khi input có focus */
    outline: none;
    /* Bỏ outline mặc định */
}

.username,
.email,
.phone,
.address {
    width: 20%;
    border: none;
    font-size: 16px;
    font-weight: 800;
}

.profile__edit input {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
}