/* Header */
.nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--primary-black-color);
    padding-bottom: 10px;
    z-index: 2;
}



/* Nav Header */

.nav__header {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}


.nav__shopInfo {
    display: flex;
    list-style: none;
    font-size: 1.5rem;
    color: var(--primary-yellow-color);
}

.shopInfo__item {
    position: relative;
}

.shopInfo__item:hover .download__popup {
    display: block;
}

.download__popup {
    display: none;
    position: fixed;
    left: 26px;
    padding: 10px 5px;
    border-radius: 2px;
    background-color: var(--white-color);
    box-shadow: 1px 1px 5px var(--primary-black-color);
    transition: ease-in 0.5s;
}

.qr__img {
    display: block;
    margin: 0 auto 5px;
    height: 150px;
}

.app__img {
    display: block;
    height: 35px;
}

.shopInfo__item:last-child .shopInfo__link {
    border: none;
}

.shopInfo__link {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    border-right: 1px solid var(--primary-yellow-color);
    color: var(--primary-yellow-color);
    text-decoration: none;
}

.shopInfo__link:hover {
    opacity: 0.8;
}


.shopInfo__item i {
    display: inline-block;
    cursor: pointer;
}

.shopInfo__item i:hover {
    opacity: 0.8;
}


.nav__user {
    display: flex;
    list-style: none;
    font-size: 1.5rem;
    color: var(--primary-yellow-color);
}

.user__item {
    position: relative;
    padding: 0 5px;
}

.user__link {
    text-decoration: none;
    color: var(--primary-yellow-color);
}

.notification__popup {
    display: none;
    position: fixed;
    top: 23px;
    right: 180px;
    background-color: var(--white-color);
    border-radius: 5px;
    border: 2px solid transparent;
    box-shadow: 1px 1px 5px var(--primary-black-color);
}

.notification__title {
    background-color: var(--primary-black-color);
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    padding: 15px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.notification__item {
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.notification__item:hover {
    background-color: #ccc;
}

.notification__item:last-child {
    border-bottom: none;
}

.notification__info {
    display: inline-block;
    margin-right: 30px;
}

.notification__heading {
    margin: 5px 0;
    color: var(--primary-black-color);
    border-radius: 8px;
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 600
}

.notification__description {
    color: #888;
    font-size: 1.6rem;
}

.notification__time {
    color: #888;
    font-size: 1.6rem;
    display: inline-block;
    transform: translateY(-10px);
}

.account__register:hover,
.account__login:hover {
    opacity: 0.8;
}


.user__account {
    display: flex;
    cursor: pointer;
}

.account__register {
    padding: 0 5px;
}

.account__login {
    border-left: 1px solid var(--primary-yellow-color);
    padding: 0 5px;
}


/* Nav Search */


.navSearch {
    padding: 0 20px;
}

.navSearch__logo {}

.navSearch__logo img {
    height: 90px;
}

.navSearch__search {
    margin-top: auto;
    background-color: var(--white-color);
    height: 50px;
    border-radius: 8px;

    form {
        height: 100%;
    }
}

.navSearch__search input {
    width: 92%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.8rem;
}

.navSearch__search button {
    display: inline-block;
    margin: auto 0;
    padding: 10px 20px;
    background-color: var(--primary-black-color);
    color: var(--primary-yellow-color);
    font-size: 1.6rem;
    border-radius: 5px;
    cursor: pointer;
}

.navSearch__search button:hover {
    background-color: var(--primary-yellow-color);
    color: var(--primary-black-color);
}

.navSearch__cart {
    display: flex;
    justify-content: center;
    align-self: end;
}


.navSearch__cartIcon i {
    position: relative;
    padding: 10px 0;
    font-size: 3rem;
    color: var(--primary-yellow-color);
    cursor: pointer;
}

.list__quantity {
    position: fixed;
    top: 9.5%;
    right: 7%;
    padding: 2px 8px;
    border-radius: 50%;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary-black-color);
    background-color: var(--primary-yellow-color);
    box-shadow: -2px 1px 8px var(--primary-black-color);
}

/* Body */

.app {
    padding: 130px 20px 0;
    min-height: 100vh;
    background-color: #EDEDED;
}


/* style ở đây */
/* Content */

.Bao__grid {
    display: grid;
    grid-template-columns: 15% 85%;
}

.history__profile-picture img {
    display: block;
    height: 60px;
    width: 60px;
    margin-right: 10px;
    border-radius: 50%;
}

.history__profile {
    display: flex;
    align-items: center;
    padding: 30px 0px;
    border-bottom: 2px solid #888;
    margin-bottom: 20px;

}

.history__name {
    font-weight: 800;
    font-size: 16px;
}

.history__location {
    color: #ccc;
}

.nav__content {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 5px 0px;

}


.nav__content a {
    padding: 6px 6px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
    text-decoration: none;
    color: #242424;
}

.nav__content a:hover {
    cursor: pointer;
    background-color: #3b3d3e;
    border-radius: 5px;
    color: #fff;
}


.orderhistory__picture {
    padding: 5px 3px;
}

.voucher__picture {
    padding: 5px 7px;
}

.shipping__picture {
    padding: 5px 5px;
}

.orderhistory__picture img {
    height: 50px;
    width: 53px;
}

.voucher__picture img {
    height: 37px;
    width: 47px;

}

.shipping__picture img {
    height: 50px;
    width: 51px;
}


/* 85% */
.shipping__heading {
    font-size: 20px;
    font-weight: 800;
    max-width: 18%;
    display: flex;
    align-items: center;
    background-color: #fff;
    margin: 25px 20px;
    padding: 15px 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.shipping__picture-title img {
    height: 50px;
    padding: 0px 3px;
}


.list__picture img {
    display: block;
    height: 100px;
    border-radius: 5px;
}

.shipping__list {
    background-color: #fff;
    width: 92%;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;

}


.shipping__items {
    position: relative;
}

.shipping__items-pro {
    display: flex;
    padding: 20px 20px;
}

.list__content {
    line-height: 1.3;
    padding: 0px 5px;
}

.list__name {
    font-size: 30px;
    font-weight: 600;
}

.list__des {
    font-size: 14px;
    color: #888;
}

.list__total {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
    display: flex;
    font-size: 20px;
}

.total__content,
.total__price {
    padding: 2px 5px;
}

.total__content {
    color: #888;
}

.total__price {
    color: #FDC62E;
    font-weight: 700;
}

.list__delivery {
    display: flex;
    padding: 15px 2px;
}

.list__status {
    font-size: 20px;
    color: #888;
}

.list__status-content {
    font-size: 20px;
    padding: 0px 25px;
    font-weight: 800;
    color: #2CD06F;
}

.list__status-content-notyet {
    font-size: 20px;
    padding: 0px 25px;
    font-weight: 800;
    color: #FF0000;
}

















/* Footer */

.footer {
    background-color: var(--primary-black-color);
    padding: 25px 20px;
}

.footer__social img {
    height: 80px;
}

.footer__description {
    margin: 5px 0 10px;
    font-size: 1.8rem;
    line-height: 2rem;
    color: var(--primary-yellow-color);
}

.footer__icon {
    font-size: 1.8rem;

}

.icon__item {}

.icon__link {
    text-decoration: none;
    color: var(--primary-yellow-color);
}

.icon__link:hover {
    opacity: 0.8;
}

/* Contact */
.footer__contact {}

.contact__title {
    display: flex;
    align-items: end;
    height: 80px;
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-weight: 600;
    color: var(--primary-yellow-color);
}

.contact__list {
    color: var(--primary-yellow-color);
    font-size: 1.6rem;
    line-height: 2rem;
}

.contact__item {
    margin: 5px 0;
}

.contact__item i {
    min-width: 16px;
    margin-right: 2px;
}


/* Category */
.footer__category {}

.footer__categoryTitle {
    display: flex;
    align-items: end;
    height: 80px;
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-weight: 600;
    color: var(--primary-yellow-color);
}

.footer__categoryLists {}

.footer__categoryItem {
    margin: 5px 0;

    a {
        text-decoration: none;
        color: var(--primary-yellow-color);
        font-size: 1.6rem;
        line-height: 2rem;
    }
}

/* Survey */
.survey__title {
    display: flex;
    align-items: end;
    height: 80px;
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-weight: 600;
    color: var(--primary-yellow-color);
}

.survey__input {
    background-color: #D9D9D9;
    padding: 10px 5px;
    margin: 5px 0;
    border-radius: 5px;
}

.survey__input input {
    width: 80%;
    font-size: 1.8rem;
    background-color: transparent;
    outline: none;
    border: none;
}

.survey__btn {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--white-color);
    background-color: var(--primary-red-color);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.survey__btn:hover {
    color: var(--primary-yellow-color);
    background-color: var(--primary-black-color);
}

.footer__copyright {
    background-color: var(--primary-yellow-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 5px 0;
}