        /* Header */
        .nav {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            background-color: var(--primary-black-color);
            padding-bottom: 10px;
            z-index: 2;
        }

        /* Nav Header */

        .nav__header {
            display: flex;
            justify-content: space-between;
            padding: 5px 20px;
        }


        .nav__shopInfo {
            display: flex;
            list-style: none;
            font-size: 1.5rem;
            color: var(--primary-yellow-color);
        }

        .shopInfo__item {
            position: relative;
        }

        .shopInfo__item:hover .download__popup {
            display: block;
        }

        .download__popup {
            display: none;
            position: fixed;
            left: 26px;
            padding: 10px 5px;
            border-radius: 2px;
            background-color: var(--white-color);
            box-shadow: 1px 1px 5px var(--primary-black-color);
            transition: ease-in 0.5s;
        }

        .qr__img {
            display: block;
            margin: 0 auto 5px;
            height: 150px;
        }

        .app__img {
            display: block;
            height: 35px;
        }

        .shopInfo__item:last-child .shopInfo__link {
            border: none;
        }

        .shopInfo__link {
            display: inline-block;
            padding-right: 5px;
            padding-left: 5px;
            border-right: 1px solid var(--primary-yellow-color);
            color: var(--primary-yellow-color);
            text-decoration: none;
        }

        .shopInfo__link:hover {
            opacity: 0.8;
        }


        .shopInfo__item i {
            display: inline-block;
            cursor: pointer;
        }

        .shopInfo__item i:hover {
            opacity: 0.8;
        }


        .nav__user {
            display: flex;
            list-style: none;
            font-size: 1.5rem;
            color: var(--primary-yellow-color);
        }

        .user__item {
            position: relative;
            padding: 0 5px;
        }

        .user__link {
            text-decoration: none;
            color: var(--primary-yellow-color);
        }

        .notification__popup {
            display: none;
            position: fixed;
            top: 23px;
            right: 180px;
            background-color: var(--white-color);
            border-radius: 5px;
            border: 2px solid transparent;
            box-shadow: 1px 1px 5px var(--primary-black-color);
        }

        .notification__title {
            background-color: var(--primary-black-color);
            text-align: center;
            font-size: 2.5rem;
            font-weight: 600;
            padding: 15px 0;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .notification__item {
            padding: 10px 15px;
            border-bottom: 1px solid #ccc;
            cursor: pointer;
        }

        .notification__item:hover {
            background-color: #ccc;
        }

        .notification__item:last-child {
            border-bottom: none;
        }

        .notification__info {
            display: inline-block;
            margin-right: 30px;
        }

        .notification__heading {
            margin: 5px 0;
            color: var(--primary-black-color);
            border-radius: 8px;
            font-size: 1.8rem;
            line-height: 2rem;
            font-weight: 600
        }

        .notification__description {
            color: #888;
            font-size: 1.6rem;
        }

        .notification__time {
            color: #888;
            font-size: 1.6rem;
            display: inline-block;
            transform: translateY(-10px);
        }

        .account__register:hover,
        .account__login:hover {
            opacity: 0.8;
        }


        .user__account {
            display: flex;
            cursor: pointer;
        }

        .account__register {
            padding: 0 5px;
        }

        .account__login {
            border-left: 1px solid var(--primary-yellow-color);
            padding: 0 5px;
        }


        /* Nav Search */


        .navSearch {
            padding: 0 20px;
        }

        .navSearch__logo {}

        .navSearch__logo img {
            height: 90px;
        }

        .navSearch__search {
            margin-top: auto;
            background-color: var(--white-color);
            height: 50px;
            border-radius: 8px;
        }

        .navSearch__search input {
            width: 92%;
            height: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 1.8rem;
        }

        .navSearch__search i {
            display: inline-block;
            padding: 10px 20px;
            background-color: var(--primary-black-color);
            color: var(--primary-yellow-color);
            font-size: 1.6rem;
            border-radius: 5px;
            cursor: pointer;
        }

        .navSearch__search i:hover {
            background-color: var(--primary-yellow-color);
            color: var(--primary-black-color);
        }

        .navSearch__cart {
            display: flex;
            justify-content: center;
            align-self: end;
        }


        .navSearch__cartIcon i {
            position: relative;
            padding: 10px 0;
            font-size: 3rem;
            color: var(--primary-yellow-color);
            cursor: pointer;
        }

        .list__quantity {
            position: fixed;
            top: 9.5%;
            right: 7%;
            padding: 2px 8px;
            border-radius: 50%;
            font-size: 1.6rem;
            font-weight: 600;
            color: var(--primary-black-color);
            background-color: var(--primary-yellow-color);
            box-shadow: -2px 1px 8px var(--primary-black-color);
        }






        /* Body */

        .app {
            padding: 0 20px 0;
        }

        /* slider */

        .slider {
            position: relative;
            margin-top: 130px;
            height: 450px;
            /* background-size: 100% 100%; */
            /* border-radius: 10px; */
            box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 1);
            overflow: hidden;
            animation: appearScroll linear;
            animation-timeline: view();
            animation-range: entry 0% cover 40%;
        }

        .slider-list {
            position: absolute;
            height: 100%;
            display: flex;
            transition: 1s;
            display: flex;
            justify-content: center;
        }

        .slider-img {
            position: relative;
            display: block;
            margin: auto;
            height: 100%;
            width: 100vw;
            background-size: cover;
            /* object-fit: fill; */
        }

        .slider-content {
            z-index: 1;
            width: 70%;
            position: absolute;
            top: 20%;
            margin-left: 55px;
            color: var(--white-color);
        }

        .item-title {
            font-weight: 600;
            font-size: 4rem;
        }

        .item-description {
            margin: 20px 0;
            font-size: 1.8rem;
            line-height: 2rem;
        }

        .btn-link {
            text-decoration: none;
        }

        .item-btn {
            background-color: transparent;
            border-radius: 20px;
            padding: 5px 20px;
            color: var(--white-color);
            font-weight: 600;
            border: 2px solid var(--white-color);
        }

        .item-btn:hover {
            background-color: var(--white-color);
            color: var(--green-color);
            cursor: pointer;
        }


        .slider-button {
            position: absolute;
            top: 45%;
            left: 0%;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .slider-button button {
            cursor: pointer;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            border: none;
            font-weight: bold;
        }

        .slider-dot {
            position: absolute;
            bottom: 10px;
            color: #fff5;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .dot-item {
            cursor: pointer;
            list-style: none;
            width: 10px;
            height: 10px;
            background-color: rgba(0, 0, 0, 0.5);
            margin: 20px;
            border-radius: 20px;
            transition: 1s;
        }

        .dot-item__active {
            list-style: none;
            width: 30px;
            height: 10px;
            background-color: rgba(0, 0, 0, 0.5);
            margin: 20px;
            border-radius: 20px;
        }



        /* style ở đây */
        /* Content */
















        /* Footer */

        .footer {
            background-color: var(--primary-black-color);
            padding: 25px 20px;
        }

        .footer__social img {
            height: 80px;
        }

        .footer__description {
            margin: 5px 0 10px;
            font-size: 1.8rem;
            line-height: 2rem;
            color: var(--primary-yellow-color);
        }

        .footer__icon {
            font-size: 1.8rem;

        }

        .icon__item {}

        .icon__link {
            text-decoration: none;
            color: var(--primary-yellow-color);
        }

        .icon__link:hover {
            opacity: 0.8;
        }

        /* Contact */
        .footer__contact {}

        .contact__title {
            display: flex;
            align-items: end;
            height: 80px;
            font-size: 3.5rem;
            line-height: 3.5rem;
            font-weight: 600;
            color: var(--primary-yellow-color);
        }

        .contact__list {
            color: var(--primary-yellow-color);
            font-size: 1.6rem;
            line-height: 2rem;
        }

        .contact__item {
            margin: 5px 0;
        }

        .contact__item i {
            min-width: 16px;
            margin-right: 2px;
        }


        /* Category */
        .footer__category {}

        .footer__categoryTitle {
            display: flex;
            align-items: end;
            height: 80px;
            font-size: 3.5rem;
            line-height: 3.5rem;
            font-weight: 600;
            color: var(--primary-yellow-color);
        }

        .footer__categoryLists {}

        .footer__categoryItem {
            margin: 5px 0;

            a {
                text-decoration: none;
                color: var(--primary-yellow-color);
                font-size: 1.6rem;
                line-height: 2rem;
            }
        }

        /* Survey */
        .survey__title {
            display: flex;
            align-items: end;
            height: 80px;
            font-size: 3.5rem;
            line-height: 3.5rem;
            font-weight: 600;
            color: var(--primary-yellow-color);
        }

        .survey__input {
            background-color: #D9D9D9;
            padding: 10px 5px;
            margin: 5px 0;
            border-radius: 5px;
        }

        .survey__input input {
            width: 80%;
            font-size: 1.8rem;
            background-color: transparent;
            outline: none;
            border: none;
        }

        .survey__btn {
            font-size: 1.6rem;
            font-weight: 600;
            color: var(--white-color);
            background-color: var(--primary-red-color);
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .survey__btn:hover {
            color: var(--primary-yellow-color);
            background-color: var(--primary-black-color);
        }

        .footer__copyright {
            background-color: var(--primary-yellow-color);
            text-align: center;
            font-size: 1.6rem;
            font-weight: 600;
            padding: 5px 0;
        }