@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* MAIN CONTENT */
button:hover {
    opacity: 0.8;
}
main {
    background-color: #eeeeee;
    flex-grow: 1;
    padding: 10px 20px 0 280px;
}
/* SIDEBAR */
.list li:nth-child(9) {
    background-color: #00acc1;
    box-shadow: 0 0 10px #00acc1;
}
/* Navbar */
main nav {
    display: flex;
    justify-content: space-between;
}

main nav .title {
    font-size: 32px;
    font-weight: 300;
}
main nav .search-bar {
    display: flex;
    align-items: center;
}
main nav .search-bar input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 5px;
    font-size: 16px;
}
main nav .search-bar i {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    cursor: pointer;
}
/* Cards */
main .card-container {
    margin-top: 60px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}
main .card {
    background-color: #ffffff;
    width: 280px;
    height: 130px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
main .card .card-name{
    position: absolute;
    right: 0;
    font-size: 16px;
    font-weight: 300;
    color: #999;
    padding-top: 10px;
    padding-right: 15px
}
main .card .card-value {
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 25px;
    font-weight: 400;
    line-height: 50px;
    padding-top: 5px;
    padding-right: 15px;
}
main .card .card-icon {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #ffffff;
    top: -20px;
    left: 10px;
    width: 90px;
    height: 90px;
    border-radius: 5px;
}
main .card hr {
    position: absolute;
    top: 90px;
    left: 15px;
    border: 1px solid #eee;
    width: 90%;
}
main .card .card-graph {
    position: absolute;
    bottom: 10px;
    left: 34%;
    color: #999;
}

main .card .card-graph:hover {
    color: #000000;
    cursor: pointer;
}
/* CHAT */
.chat-section {
    display: flex;
    gap: 10px;
}
.chat-container {
    background-color: white;
    width: 60vh;
    height: 90vh;
    border-radius: 10px;
    overflow-y: auto;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14);
    padding: 20px;
}
.people-container {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 10px;
}
.person {
    position: relative;
    border-radius: 10px;
    padding: 30px;
    overflow-x: hidden;
}
.person .person-image  {
    position: absolute;
    width: 50px;
    border-radius: 50%;
    left: 5px;
    top: 5px;
}
.person .person-name {
    position: absolute;
    top: 5px;
    left: 60px;
    color: #00acc1;
    font-weight: 500;
}
.person .person-message {
    position: absolute;
    display: inline;
    top: 30px;
    left: 60px;
    color: lightslategray;
}
.person .message-date {
    position: absolute;
    top: 5px;
    right: 10px;
    color: lightslategray;
}
.person:hover {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14);
    cursor: pointer;
}
.chatbox {
    background-color: white;
    height: 90vh;
    flex-grow: 1;
    border-radius: 10px;
    position: relative;
    padding: 20px;
}


.chat-item{
    display: flex;
    margin: 5px 0;
    span{

        padding: 5px 10px;
        border-radius: 5px;
    }

    &.user {
        text-align: left;
        justify-content: left;

        span{
            background: #fff;
            border:1px solid #ccc;
        }
    }

    &.admin {
        text-align: right;
        justify-content: right;

        span{
            background-color: #00acc1;
        }
    }
}
.hidden {
    display: none;
}
.selected {
    background-color: white;
}
.chatbox-input-container {
    position: absolute;
    width: 95%;
    bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.chat__sent{
    border: none;
    background-color: transparent;
}

.chatbox-input-container .chatbox-input {
    width: 90%;
    padding: 15px;
    border-radius: 50px;
    font-size: 16px;
    border: 1px solid black;
}
.chatbox-input-container .chatbox-send-icon {
    background-color: #00acc1;
    padding: 15px;
    border-radius: 50%;
}
.chatbox-input-container .chatbox-send-icon:hover {
    background-color: #00d6f2;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
}